.svg-icon{
color:#e6a926;
}

.post-title{
    color:#414141;
}

p{
    text-align:justify;
    align-content:center;
}

.entry-title{
    text-align:center;
}

.entry-meta{
    align-content:center;
    color:#414141;
}

